.banner-text, .nav{
  background-color: rgb(161, 160, 160);
  opacity: 0.9;
}
.banner-text{
  border-radius: 15vh;
  padding-bottom: 1vh;
  padding-top: 2vh;
}
#portfolio{
  display: flex;
  justify-content: space-evenly;
}
.item-img{
  height: 50vh;
  width: 40vw;
}
#portfolio-wrapper{
  display: flex;
  justify-content: space-evenly;
}
#item{
  width: 50%;
  display: flex;
  justify-content: center;
}
.item-wrap{
  width: 30vw;
}