.banner-text, .nav{
  background-color: rgb(161, 160, 160);
  opacity: 0.9;
}
.banner-text{
  border-radius: 15vh;
  padding-bottom: 1vh;
  padding-top: 2vh;
}
#portfolio-wrapper{
  display: flex;
  justify-content: center;
}
.item-img{
  height: 30vh;
  width: 30vw;
}