.banner-text, .nav{
  background-color: rgb(161, 160, 160);
  opacity: 0.9;
}
.banner-text{
  border-radius: 15vh;
  padding-bottom: 1vh;
  padding-top: 2vh;
}
#portfolio{
  display: flex;
  justify-content: space-evenly;
}
#a-and-a-designs{
  height: 50vh;
}
#welp{
  height: 50vh;
}
#portfolio-wrapper{
  display: flex;
  justify-content: space-evenly;
}
#item{
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.links{
}
.item-wrap{
  width: 30vw;
}